#editor {
    width: 400px;
    height: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: monospace;
}
.statement {
    color: orange;
}
.function {
  color: yellow;
}
.directives {
  color: 	#00FFFF;
}
.lib {
  color: #FF007F;
}
.ident {
  color: #00FF7F;
}
.numb {
  color: red;
}
.strings {
  color: #a7f432;
}
.comments {
  color: grey;
}
